.about{
    padding: 80px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #BEE3DB;
    margin-bottom: -150px;
    margin-top: 100px;
}

.toolHeading{
    max-width: 900px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toolAbout{
    font-size: 3em;
    margin-bottom: 0.5em;
}

.toolDesc{
    font-size: 1.2em;
    max-width: 700px;
}

.aboutCard{
    max-width: 400px;
    height: auto;
    margin: 6em 0;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #000505;
    padding: 8px;
    background-color: #FAF9F9;
}

.toolCreator{
    text-align: center;
    .toolDesc{
        a{
            margin: 8px 8px;
        }
    }
}

.convImg{
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 800px){
    .about{
        font-size: 13px;
    }
    .lineBreak{
        display: none;
    }

}