.about{
    padding: 80px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #BEE3DB;
    margin-bottom: -150px;
}

.toolHeading{
    max-width: 900px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toolAbout{
    font-size: 3rem;
    margin-bottom: 0.5em;
}

.toolDesc{
    font-size: 1.2rem;
    max-width: 700px;
}

.aboutCard{
    max-width: 400px;
    height: auto;
    margin: 6em 0;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #000505;
    padding: 8px;
    background-color: #FAF9F9;
}

.toolCreator{
    text-align: center;
    .toolDesc{
        a{
            margin: 8px 8px;
        }
    }
}