$primary-font: 'Josefin Sans', sans-serif;
$desc-font: 'Poiret One', cursive;
$color-1: #FFE7D6;
$color-2: #000505;
$color-3: #9191E9;
$color-4: #FAF9F9;
$color-5: #BEE3DB;

.App{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: $color-5;
  margin-top: 100px;
  margin-bottom: -150px;
}

.messagingConfig{
    width: 550px;
    margin: 20px;
    color: $color-2;
    font-family: $primary-font;
    label{
        display: inline-block;
        font-size: 18px;
        margin: 10px 0;
        font-weight: 500;
    }
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.profileDetails{
    display: flex;
    flex-direction: column;
    
}

.imgContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    input{
        width: 90px;
    }
}



.App > h2{
    font-family: $primary-font;
}

.App > label{
    font-size: 18px;
    margin: 10px 0;
    font-weight: 500;
}

.App > input[type=text]{
    background-color: $color-4;
    border: 1px solid $color-2;
    border-radius: 6px;
    max-width: 350px;
    height: 40px;
    color: $color-2;
    padding: 4px;
    margin: 2px;
}

.preview{
    background-color: $color-1;
    padding: 10px;
    border-radius: 12px;
    margin: 20px 0;
}


.chat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chatPerson{
    display: flex;
    flex-direction: column;
    background-color: #FFE7D6;
    padding: 10px;
    border-radius: 12px;
    width: 250px;
    align-items: center;
    form{
        height: 100%;
        display: flex;
        flex-direction: column;
        label{
            display: inline-block;
            font-size: 18px;
            margin: 10px 0;
            font-weight: 500;
        }
        textarea{
            background-color: $color-4;
            border: 1px solid $color-2;
            border-radius: 6px;
            max-width: 350px;
            height: 140px;
            color: $color-2;
            padding: 4px;
            margin: 2px;
        }
    }
}


.right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    margin: 20px;
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .msgbrk{
            label{
                font-family: $primary-font;
                display: inline-block;
                font-size: 18px;
                margin: 10px 0;
                font-weight: 500;
            }
            display: flex;
            flex-direction: column;
        }
    }
}

.resetBtn{
    color: $color-2;
    width: 100px;
    margin-right: 20px;
    background-color: $color-4;
    border: 1px solid $color-2;
}

@media only screen and (max-width: 800px){
    .App{
        display: none;
    }
}