$primary-font: 'Josefin Sans', sans-serif;
$desc-font: 'Poiret One', cursive;
$color-1: #FFE7D6;
$color-2: #000505;
$color-3: #9191E9;
$color-4: #FAF9F9;
$color-5: #BEE3DB;

.foot{
    margin-top: 150px;
    background-color: $color-3;
    font-family: $primary-font;
    color: $color-4;
    height: 50vh;
    padding: 5rem 8rem;
    padding-bottom: 25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .logo{
        max-width: 10rem;
        height: auto;
        background-color: $color-4;
        padding: 1rem;
        img{
            width: 100%;
            height: auto;
        }
    }
    .projectDesc{
        font-size: 1.4rem;
    }
    hr{
        margin-top: 2rem;
    }
    .cp{
        display: flex;
        gap: 2rem;
        align-items: center;
    }

}

@media (max-width: 1000px){
    .foot{
        padding: 5rem 3rem;
    }
}