.foot {
  margin-top: 150px;
  background-color: #9191E9;
  font-family: "Josefin Sans", sans-serif;
  color: #FAF9F9;
  height: 50vh;
  padding: 5rem 8rem;
  padding-bottom: 25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.foot .logo {
  max-width: 10rem;
  height: auto;
  background-color: #FAF9F9;
  padding: 1rem;
}
.foot .logo img {
  width: 100%;
  height: auto;
}
.foot .projectDesc {
  font-size: 1.4rem;
}
.foot hr {
  margin-top: 2rem;
}
.foot .cp {
  display: flex;
  gap: 2rem;
  align-items: center;
}