@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&family=Poiret+One&display=swap');
*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #FAF9F9;
}

a {
  color: inherit;
  text-decoration: none;
}


header{
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #999999;
  position: fixed;
  width: 100vw;
  background-color: #FAF9F9;
  top: 0;
  z-index: 5;
  padding: 0 8rem;
}

.profileImage{
  border-radius: 50%;
  width: 32px;
  height: 30px; 
  background-color: grey;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}


button, input[type=submit]{
  background-color: #9191E9;
  color: #FAF9F9;
  border-radius: 47px;
  height: 50px;
  border: none;
  font-family: 'Poiret One', cursive;;
  font-size: 18px;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  max-width: 250px;
}

button:hover, input[type=submit]:hover{
  background-color: #FAF9F9;
  color: #000505;
  border: 1px solid #000505;
  padding: 9px;
}

.notFound{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo{
  max-width: 100px;
  height: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar{
  background-color: #FAF9F9;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.navBar > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navElement{
  margin-inline: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.navBarButton{
  margin-inline: 20px;
}

footer{
  margin-top: 150px;
  background-color: #9191E9;
  height: 50vh;
}

.navBar-mobile{
  display: none;
}

.menu{
  display: none;
}

@media only screen and (max-width: 800px) {
  header{
    padding: 0 4rem;
  }

  .menu{
    display: block;
    z-index: 3;
    position: absolute;
    top: 2.4rem;
    right: 4rem;
  }

  .navBar{
    display: none;
    background-color: black;
  }

  .navBar-mobile{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    height: 100vh;
    width: 50vw;
    background-color: #9191E9;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
  }

  .navBar-mobile ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    font-size: 1.5rem;
  }
  
  .navElement-mobile{
    padding-inline: 3rem;
  }

  .navBarButton-mobile{
    padding: 1rem;
    margin: 0;
    background-color: #FAF9F9;
    color: #000505;
    font-size: 1.5rem;
    height: auto;
  }

  .navBarButton-mobile:hover {
    padding: 1rem;
    margin: 0;
    background-color: #FAF9F9;
    color: #000505;
    font-size: 1.5rem;
    height: auto;
  }

  #overlay{
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    background-color: #000505;
    opacity: 0.8;
  }
 
}