.main {
  margin-top: 100px;
  background-color: #FFE7D6;
  font-family: "Poiret One", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroLander {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  text-align: center;
  margin-top: 40px;
}
.heroLander h1 {
  margin: 20px 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
}
.heroLander h3 {
  font-weight: 500;
  font-size: 1.3rem;
  margin: 20px 0;
  max-width: 580px;
}

.prodShowcase {
  margin-top: 50px;
  margin-bottom: -80px;
  border-radius: 12px;
  border: 1px solid #000505;
  width: 80vw;
  height: 600px;
  background-color: #BEE3DB;
  background-image: url("/lander-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.socialProof {
  margin-top: 120px;
  font-family: "Poiret One", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.card {
  max-width: 400px;
}
.card h2 {
  font-family: "Josefin Sans", sans-serif;
  margin: 10px 0;
}
.card h3 {
  font-weight: 500;
  margin: 20px 0;
}

.cardImg1 {
  background-color: #BEE3DB;
  background-image: url("/review3.png");
}

.cardImg2 {
  background-color: #BEE3DB;
  background-image: url("/review4.png");
}

.cardImg1,
.cardImg2 {
  height: 400px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #000505;
  margin: 20px 0;
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: center;
}

.lastReminder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 120px;
}
.lastReminder .reminder {
  background-color: #BEE3DB;
  border-radius: 12px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px;
}
.lastReminder .reminder h1 {
  margin: 20px 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
}

.bigCTA {
  font-size: 1.3rem;
  padding: 10px 40px;
  margin: 50px 0;
}

.bigCTA:hover {
  background-color: #FAF9F9;
  color: #000505;
  border: 1px solid #000505;
  padding: 9px 39px;
}

@media only screen and (max-width: 825px) {
  .main {
    margin-top: 5rem;
  }
  .heroLander {
    max-width: 24rem;
  }
  .heroLander h1 {
    margin: 0.5rem 0;
    font-size: 2.4rem;
  }
  .heroLander h3 {
    font-weight: 500;
    font-size: 1rem;
    margin: 1rem 0;
    max-width: 20rem;
  }
  .prodShowcase {
    height: 30rem;
  }
  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
  .cardImg1,
.cardImg2 {
    height: 18rem;
  }
  .lastReminder .reminder {
    padding: 3.5rem;
  }
  .lastReminder .reminder h1 {
    font-size: 2rem;
    text-align: center;
  }
  .bigCTA {
    font-size: 1rem;
    padding: 0.8rem 2rem;
  }
}